.logo {
    display: block;
    position: absolute;
    top: 10px;
    left: 1100px;
}

.imagine {
    position: absolute;
    display: block;
    top: 10px;
    left: 850px;
}

.welcome {
    background-color: rgb(185, 185, 185);
    border:none;
    margin: 350px 0px 0px 0px;

    
}

.questions {
    text-align: center;
}

.nav {
    width: 1750px;
    border: 1px solid;
    position: absolute;
    top: 190px;
    left: 500px;
    font-size: x-large;
    color: #8080F0;
}

footer {
    text-align: center;
    font-size: smaller;
}